
env/lib/python3.10/site-packages/torch/lib/libtorch_cpu.dylib
env/lib/python3.10/site-packages/tensorflow/libtensorflow_cc.2.dylib
datasets/Wednesday-WorkingHours.pcap_ISCX.csv
datasets/Tuesday-WorkingHours.pcap_ISCX.csv
datasets/Thursday-WorkingHours-Morning-WebAttacks.pcap_ISCX.csv
datasets/Monday-WorkingHours.pcap_ISCX.csv
datasets/Friday-WorkingHours-Morning.pcap_ISCX.csv
datasets/Friday-WorkingHours-Afternoon-PortScan.pcap_ISCX.csv
datasets/Friday-WorkingHours-Afternoon-DDos.pcap_ISCX.csv
